body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.main-head {
  background-color: rgb(45, 45, 45);
  color: white;
  height: 4em;
  width: 100%;
  display: inline-block;
  z-index: 1000;
  position: fixed;
}
.flex-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.flex-nav a, li {
  text-decoration: none;
  color: white;
  flex: 1;
}
.flex-nav li:first-child {
  font-size: 1.5em;
  flex: 2;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.section-1 {
  height: 100vh;
  width: 100%;
  font-size: 2.5em;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(101, 219, 138);
  position: fixed;
  padding-top: 60px;
}
.section-1 img {
  height: 45%;
  border-radius: 50%;
}
.pointer {
  width: 10%;
  fill: white;
  cursor: pointer;
}
.pointer:hover {
  fill: white;
  cursor: pointer;
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50%20px 50%;
  -moz-animation: animationFrames linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}
@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  15% {
    -moz-transform: translate(0px, -25px);
  }
  30% {
    -moz-transform: translate(0px, 0px);
  }
  45% {
    -moz-transform: translate(0px, -15px);
  }
  60% {
    -moz-transform: translate(0px, 0px);
  }
  75% {
    -moz-transform: translate(0px, -5px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  15% {
    -webkit-transform: translate(0px, -25px);
  }
  30% {
    -webkit-transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(0px, -15px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, -5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
  15% {
    -o-transform: translate(0px, -25px);
  }
  30% {
    -o-transform: translate(0px, 0px);
  }
  45% {
    -o-transform: translate(0px, -15px);
  }
  60% {
    -o-transform: translate(0px, 0px);
  }
  75% {
    -o-transform: translate(0px, -5px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  15% {
    -ms-transform: translate(0px, -25px);
  }
  30% {
    -ms-transform: translate(0px, 0px);
  }
  45% {
    -ms-transform: translate(0px, -15px);
  }
  60% {
    -ms-transform: translate(0px, 0px);
  }
  75% {
    -ms-transform: translate(0px, -5px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
.section-2 {
  display: flex;
  background-color: rgb(45, 45, 45);
  height: auto;
  flex-direction: column;
  color: white;
  justify-content: center;
  position: relative;
  top: 100vh;
  height: 100vh;
}
.section-2 h1 {
  border-bottom: 1px solid white;
  align-self: center;
}
.section-2 p {
  align-self: center;
  font-size: 1.2em;
  width: 40%;
  text-align: left;
  left: 2.5em;
  border: 1px solid white;
  padding: 15px;
  justify-content: center;
}
.section-3 {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 221, 221);
  height: auto;
  position: relative;
  top: 100vh;
  height: 100vh;
  flex-direction: column;
}
.section-1 h1, .section-2, h1, .section-3 h1, .section-4 h1{
  border-bottom: 1px solid black;
  align-self: center;
}
.section-3 p {
  align-self: center;
  font-size: 1.2em;
  width: 40%;
  text-align: left;
  left: 2.5em;
  border: 1px solid black;
  padding: 15px;
  justify-content: center;
}
.icons img {
  width: 10em;
  margin: 3.5em;
  border-right: 1px solid black;
  padding-right: 1.5em;
}
.descript {
  align-self: center;
  position: relative;
  right: 2.5em;
  color: black;
}
.main-foot {
  height: 4em;
  width: 100%;
  background-color: rgb(40, 40, 40);
  position: absolute;
  top: 300vh;
  display: inline-block;
}
.section-4{
  display: flex;
  background-color: rgb(45, 45, 45);
  height: auto;
  flex-direction: column;
  color: white;
  justify-content: center;
  position: relative;
  top: 100vh;
  height: 100vh;
}
.main-foot ul, li {
  display: flex;
  list-style: none;
  flex: 1;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
